<% provide(:title, 'Home') %>
<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
    </aside>
    <div class="span8">
      <h3>Welcome back to Quiltro</h3>
        <p> This App wrapped the Search twitter API and Streaming twitter API.
        To create new searches, please go to:
        <br> <%= link_to "Historical search", searches_path(current_user) %>
        <br> <%= link_to "Streaming search", streamings_path(current_user) %>
        </p>
      <br>
      <br>
      <h3>Recent news </h3>
        <h4> Quiltro beta version is running </h4>
        <p> The beta version of Quiltro is now active. You can use it as you want. However, this version is still preliminar and probably you can found bugs out there. If you find some one, please report it here.
        </p> 
    </div>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to Quiltro</h1>
    <%= image_tag("quiltro.jpg", alt: "quiltro") %>
    <h2>
      This app is developed by
      <a href="http://hujo.deri.ie/">hujo</a>
      project.
    </h2>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  </div>
<% end %>
