<li id="<%= tweets_item.id %>">
  <%= twitter_image_for(tweets_item) %>
  <span class="user">
    <%= link_to tweets_item.twitteruser.screen_name, "https://twitter.com/" + tweets_item.twitteruser.screen_name %>
  </span>
  <span class="query"><%= tweets_item.text %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(tweets_item.created_at) %> ago.
  </span>
</li>
