<%= form_for(@credential) do |f| %>
  <p>
  To create new credentials please enter your Twitter developer account details
  below:
  </p>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_field :name, placeholder: "Name" %>
    <%= f.text_field :consumer, placeholder: "Consumer token" %>
    <%= f.text_field :consumer_secret, placeholder: "Consumer secret" %>
    <%= f.text_field :access, placeholder: "Access token" %>
    <%= f.text_field :access_secret, placeholder: "Access token secret" %>
  </div>
  <%= f.submit "Add", class: "btn btn-large btn-primary" %>
<% end %>
