<%= form_for(@streaming) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <br>Need help for compose streaming search? 
    <%= link_to "Look here", help_path %>
    <%= f.text_area :query, placeholder: "Compose new streaming search... " %>
    <% if Credential.find_by_user_id(current_user.id).nil? %>
      Please add credential first
    <% else %>
      <%= collection_select(:streaming, :credential_id, Credential.where(user_id: current_user.id), :id, :name, :prompt => 'Please select credential') %>
    <% end %>
  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>
