<%= form_for(@streaming) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <br>
    Enter keyword search terms below. If using multiple keywords please enter a comma , between each keyword.
    <br>
    <br>Click 
    <%= link_to "here", help_path %>  for a more detailed help guide
    <br>
    <br> 
    <%= f.text_area :query, placeholder: "Compose new streaming search... " %>
    <% if Credential.find_by_user_id(current_user.id).nil? %>
      Please add credential first
    <% else %>
      <%= collection_select(:streaming, :credential_id, Credential.where(user_id: current_user.id), :id, :name, :prompt => 'Please select credentials') %>
    <% end %>
  </div>
  <%= f.submit "Search", class: "btn btn-large btn-primary" %>
<% end %>
