<li>
  <span class="user">
    <%= link_to search.user.name, search.user %>
  </span>
  <span class="query"><%= search.query %></span>
  <span class="timestamp">
    Started <%= time_ago_in_words(search.created_at) %> ago.
  </span>
  <span class="timestamp">
    Using credential <%= search.credential.name %>.
  </span>
  <span class="actions"> 
    <% if current_user?(search.user) %>
      <% if search.get_searchrun %>
        <%= link_to '<i class="icon-stop icon-black"></i>'.html_safe, searchrun_path(@searchrun, :id => search.get_searchrun.id), :method => :delete, class: "btn btn-small", data: {toggle: "tooltip"}, title: "Stop tweets collection" %>
      <% else %>
        <%= link_to '<i class="icon-play icon-black"></i>'.html_safe, searchruns_path(@searchrun, :search => search.id), :method => :post, class: "btn btn-small", data: {toggle: "tooltip"}, title: "Start tweets collection" %>
      <% end %>
      <%= link_to '<i class="icon-eye-open icon-black"></i>'.html_safe,{:controller => "tweets", :action => "index", :search => search.id, :kind => "search"}, class: "btn btn-small", data: {toggle: "tooltip"}, title: "See last tweets retrieved" %>
      <%= link_to '<i class="icon-download icon-black"></i>'.html_safe,{:controller => "tweets", :action => "index", :search => search.id, :kind => "search", :format => :csv }, class: "btn btn-small", data: {toggle: "tooltip"}, title: "Download tweet collection" %>
     
      <!-- Button to trigger modal -->
      <a href="#searchModal" role="button" data-toggle="modal" class="btn btn-small btn-warning" title="Delete collection"> <i class="icon-trash icon-black"></i></a>

      <!-- Modal -->
      <div id="searchModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="myModalLabel">Delete collection</h3>
        </div>
        <div class="modal-body">
          <p>Are you sure you want delete search collection?</p>
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
          <%= link_to "Delete it", search, method: :delete, remot: true, class: "btn btn-small btn-warning" %>
        </div>
      </div>

    <% end %>
  </span>
</li>
