<footer class="footer">
  <small>
    Developed by Pablo Torres using 
    <a href="http://rubyonrails.org/">Rails</a>
    <br>
    <br>
    <%= link_to image_tag("HuJo-Logo3_.jpg"), "http://hujo.deri.ie" %>
    ......
    <%= link_to image_tag("DERI_.jpg"), "http://www.deri.ie" %>
  </small>
  <nav>
    <ul>
      <li><!-- Button to trigger modal -->
        <a href="#modalAbout" data-toggle="modal">About</a>
      </li>
      <li><%= link_to "Contact", "http://hujo.deri.ie/contact" %></li>
      <li><%= link_to "Hujo", "http://hujo.deri.ie" %></li>
      <br>
      <br>
        <%= link_to image_tag("SFI_cropped_.jpg"), "http://www.sfi.ie" %>
    </ul>
  </nav>
</footer>
